<div id="container">
<h1>Stupid Coaching</h1>
<div class="text">
<h4><%= @question %></h4>
<p>-You.</p>
</div>
<div class="text">
<h4><%= @reply %></h4>
<p>-Your Coach.</p>
</div>
<%= link_to "Ask another question", ask_path %>
</div>
