<div class="d-flex flex-column align-items-center">
<h1>Stupid Coaching</h1>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
